{% extends 'bases/index.html' %}

{% block content_wrapper %}
{% endblock content_wrapper %}
{% block content %}
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-12 col-md-12 mb-12">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}    
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}    
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nuevo {% endif %} Evento
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="input-group">
                                <!--
                                <input type="text" name="descripcion" maxlength="100" class="form-control" required id="id_descripcion" placeholder="Descripción de categoría" value="{% if obj %} {{ obj.descripcion }} {% endif %}">
                                -->
                                <label for="id_evento">Eventoxxxxxxx:</label>
                                {{form.evento}}
                            </div>    
                        </div>    

                        <div class="row">
                            <div class="col-5">
                                <div class="input-group">
                                    <!--
                                    <input type="text" name="descripcion" maxlength="100" class="form-control" required id="id_descripcion" placeholder="Descripción de categoría" value="{% if obj %} {{ obj.descripcion }} {% endif %}">
                                    -->
                                    <label for="id_tipoparticipante">Tipo:</label>
                                    {{form.tipo_participante}}
                                </div>    
                                <div class="input-group">
                                    <!--
                                    <input type="text" name="descripcion" maxlength="100" class="form-control" required id="id_descripcion" placeholder="Descripción de categoría" value="{% if obj %} {{ obj.descripcion }} {% endif %}">
                                    -->
                                    <label for="id_tipoparticipante">Modalidad</label>
                                    {{form.modalidad_asistencia}}
                                </div>    
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Apellido</label>
                                    {{form.apellido_participante}}
                                </div>    
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Nombre</label>
                                    {{form.nombre_participante}}
                                </div>    
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Email</label>
                                    {{form.email_participante}}
                                </div>    
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Teléfono</label>
                                    {{form.telefono_participante}}
                                </div>    
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Empresa</label>
                                    {{form.empresa_participante}}
                                </div>    
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Cargo</label>
                                    {{form.cargo_participante}}
                                </div>    
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Asistencia</label>
                                    {{form.asistio_evento}}
                                </div>    
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Confirmo Asistencia</label>
                                    {{form.confirmo_asistencia}}
                                </div>    
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Observaciones</label>
                                    {{form.observaciones_participante}}
                                </div>    
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                   <!-- <label for="id_estado">Estado</label>
                                    <input type="checkbox" name="estado" class="form-control" id="id_estado" {% if obj.estado %} checked {% endif %}>
                                    ---->
                                    <label for="id_apellido">Titular</label>
                                    {{form.acompanante_de}}
                                </div>    
                            </div>
                            
                            
                            
                            
                            <!-- {{ form.as_p }} -->
                        </div>    
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                                <a href="{# url 'par:busca_participante' #}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>
                            </div>    
                        </div>    
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
a

{% block js_page %}
{% endblock js_page %}

